/* Grundstil für die ganze Seite */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Arrow */


/* Abschnitte */
section {
    padding: 40px 20px;
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
	max-width: 8%;
	position: absolute;
	top: 5px;
	left: 5px;
}

.first-view img {
		object-fit: cover;
		height: 100vh;
		width: 100%;
		margin: 0;
		padding: 0;
}

.first-view::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	pointer-events: none;
}

/* Overlay Text */
    .overlay-h1 {
      position: absolute;
      top: 35%;
      left: 70%;
      transform: translate(-50%, -50%);
      color: grey;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1.5rem;
      text-align: center;
	  line-height: 80%;
	}



/* Über mich */
#ueber-mich {
    background-color: #f4e1e8; /* Helles Pastellrosa */
}

h2 {
    color: #d77e8d; /* Pastellrot */
}

/* Kontaktformular */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #d77e8d; /* Pastellrot */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #c26d7e;
}

/* Leistungen */
#aboutUs{ /*contains text and pictures about us*/
	margin-top: 150px;
	margin-bottom: 150px;
	margin-left: 100px;
	margin-right: 100px;
	border-color: #AE9A64;
	border-width: 5px;
	border-style: solid;
}

.textAboutUs{
	font-size: 23px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.imagesAboutUs{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 35px;
	margin: 60px 10px;
}

.imageAboutUs:hover{
	box-shadow: 5px 20px 25px 5px rgba(0, 0, 0, 0.2), 5px 25px 70px 5px rgba(0, 0, 0, 0.19);
	width: 315px;
	height: 230px;
	transform: translateY(-20px);
}

/* Footer */
footer {
    background-color: #f2c6d3;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
footer a {
	text-decoration: none;
	color: black;
]
